<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acker.simplezxing">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
